// @keyframes fadeInUp {
//   0% {
//     transform: translateY(-15px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

@keyframes zoomUp {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomUpLeft {
  0% {
    opacity: 0;
    transform: translateX(50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(60%) scale(1);
  }
}
