.artical {
  padding: 90px 0;
  border-bottom: 1px solid bc("borderLightGrey");

  &__bg {
    @include size(100%, 300px);
    position: relative;
    background-color: c("primary");
  }
  &__content {
    @include positionAbsolute(50%, auto, auto, auto);
    transform: translateY(-50%);
    width: 100%;

    &__detail {
      margin-left: 80px;
      padding: 0;

      h1 {
        @include text(fs("h3"), tc("textPrimary"), fw("fwBold"), 0.01);
        padding: 10px 0;
        margin: 0;
      }
      p {
        @include text(fs("h5"), tc("textPrimary"), fw("fwExtraLight"), 0.05);
      }
      .btn--blue {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
      }
    }
  }

  //responsive
  @include responsive(rp("large")) {
    &__content {
      &__detail {
        padding: 0;
        text-align: center;
        margin: 0;
      }
    }
  }
}
