@import "../../../styles//helpers/theme";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/function";
@import "../../../styles/base/reset";
@import "../../../styles/base/custom-bs";
// @import "../../../styles/components/button";
@import "../../../styles/components/form";
@import "../../../styles/components/alert";

.log-in {
  &__text {
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
    p {
      @include text(
        fs("subtitle"),
        tc("textDarkGrey"),
        fw("fwExtraLight"),
        0.02
      );
      line-height: 1.43;
      a {
        @include text(fs("subtitle"), tc("textBlue"), fw("fwExtraLight"), 0.02);
        text-decoration: none;
      }
    }
  }
}
