@import "../../../styles/helpers/theme";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/function";
// @import "../../styles/helpers/keyframe";
@import "../../../styles/base/reset";
// @import "../../styles/base/custom-bs";
// @import "../../styles/components/button";

.cover {
  position: relative;
  background: url(/img/cover.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;

  &__content {
    @include positionAbsolute(50%, auto, auto, 5%);
    transform: translateY(-50%);
    max-width: 450px;
    background-color: c("paper");
    padding: 20px;

    h1 {
      @include text(fs("h2"), tc("textPrimary"), fw("fwBold"), 0.05);
      word-spacing: 2px;
    }
    p {
      @include text(fs("h5"), tc("textPrimary"), fw("fwExtraLight"), 0.05);
    }
    &__search {
      width: 100%;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid bc("borderLightGrey");
      border-radius: 5px;
      input {
        width: 90%;
        border: transparent;
        &::-webkit-input-placeholder {
          @include text(
            fs("subtitle"),
            tc("textGrey"),
            fw("fwExtraLight"),
            0.05
          );
        }
        &::-moz-placeholder {
          @include text(
            fs("subtitle"),
            tc("textGrey"),
            fw("fwExtraLight"),
            0.05
          );
        }
        &:-ms-input-placeholder {
          @include text(
            fs("subtitle"),
            tc("textGrey"),
            fw("fwExtraLight"),
            0.05
          );
        }
        &::-ms-input-placeholder {
          @include text(
            fs("subtitle"),
            tc("textGrey"),
            fw("fwExtraLight"),
            0.05
          );
        }
        &::placeholder {
          @include text(
            fs("subtitle"),
            tc("textGrey"),
            fw("fwExtraLight"),
            0.05
          );
        }
        &:focus {
          outline: none;
        }
      }
      i {
        @include fontIcon(fs("h6"), tc("textGrey"));
      }
      &:hover {
        border: 1px solid bc("borderGrey");
      }
    }
  }
}
