@import "../../styles//helpers/theme";
@import "../../styles/helpers/mixin";
@import "../../styles/helpers/function";
// @import "../../styles/helpers/keyframe";
@import "../../styles/base/reset";
@import "../../styles/base/custom-bs";
@import "../../styles/components/button";

.footer {
  background-color: c("paper");
  padding: 5rem;
  ul li {
    list-style-type: none;
  }
  ul li a {
    @include text(fs("body2"), tc("textSecondary"), fw("fwExtraLight"), 0.01);
    text-decoration: none;
    line-height: 2.5rem;
    &:hover {
      @include text(fs("body2"), tc("textDarkBlue"), fw("fwExtraLight"), 0.01);
    }
  }
  .translate {
    max-width: 24rem;
    margin-top: 1rem;
  }

  .copyright {
    margin-top: 5rem;
    img {
      width: 15rem;
    }
    p {
      @include text(fs("body1"), tc("textGrey"), fw("fwLight"), 0.01);
    }
  }
}
//DONOR
.footer-donor {
  background: c("paper");
  border-top: 1px solid bc("borderLightGrey");
  border-bottom: 1px solid bc("borderLightGrey");
  padding: 2.4rem;
  h3 {
    @include text(fs("h5"), tc("textPrimary"), fw("fwBold"), 0.02);
  }
  img {
    margin-left: 2.4rem;
  }
}
