@import "../../../styles//helpers/theme";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/function";
// @import "../../styles/helpers/keyframe";
@import "../../../styles/base/reset";
@import "../../../styles/base/custom-bs";
// @import "../../../styles/components/button";
.cart-header {
  background: #505763;
  &__inner {
    padding: 34px 0;
    ol li {
      color: #fff;
      font-size: 15px;
      line-height: 1.43;
      display: inline-block;
      i {
        color: #8a92a3;
      }
      &:last-child::before {
        content: "/";
        padding: 0 5px;
        color: #fff;
      }
    }
    h1 {
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.287;
      margin: 0;
    }
  }
}
