* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}
body {
  margin: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
ul li,
ol li {
  list-style-type: none;
}
